@{
    ViewData["Title"] = "Listagem de Matricula";
}
<div class="text-center">

     <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="" asp-action="">Adicionar novo Matricula</a>
        </div>
        <br />

    <h1 class=display-4>Listagem de Matricula</h1> 

     <table class="table">
