@model TbDepartamento
@{ 
    ViewData["Title"] = "Editar Departamento";
}

<div class="text-center">

     <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Departamento" asp-action="Index">Adicionar novo Departamento</a>
     </div>
        <br />

    <h1 class=display-4>Listagem de Departamento</h1> 
    </div>
   <form asp-action="Editar">
        <div>
        <input type="hidden" asp-for="IdDepartamento"  />
        </div>
        <div class="form-group">
            <label for="nome departamento">Nome Departamento</label>
            <input type="text" asp-for="NmDepartamento" class="form-control"/>
        </div>
           <div class="form-group">
            <label for="localização departamento">localização</label>
            <input type="text" asp-for="Localizacao" class="form-control"/>
        </div>
        
           <div class="form-group">
            <label for="id_gerente departamento">id_gerente</label>
            <input type="text" asp-for="IdGerente" class="form-control"/>
        </div>
        
           <div class="form-group">
            <label for="fg_ativo departamento">fg_ativo</label>
            <input type="text" asp-for="FgAtivo" class="form-control"/>
        </div>

        <button type="submit" class="btn  btn-primary">Altera</button> 
        <a class="btn  btn-danger " asp-controller="Departamento" asp-action="Index" role="button">Carcela</a>
    </form>